* {
    font-family:Tahoma, Geneva, sans-serif;
    

}

article {
    border:solid .1em whitesmoke;
    flex:1 1;

}

header {
    background-color: #4c4d4f;
    padding:0px 0px;
}

body {
    margin:0;
    background-color:rgb(14,13,13)
}

#mainNav {
    padding:0;
    margin:0;
    background-color: #4c4d4f;
    position:sticky;
    top:0;
    border-top:.05em solid rgb(56, 134, 19);
}

#mainNav a {
    color:rgb(14, 15, 14);
    list-style: none;
    text-decoration:none;
}

#mainNav ul {
    margin:0;
    padding:0;
    list-style:none;
    display:flex;
    justify-content:space-evenly;
}

#mainNav a {
    color:rgb(56, 134, 19);
    text-decoration:none;
}


#sections a {
    color:whitesmoke;
}

#sections {
    padding:5px;
}

#container {
    min-width:240px;
    max-width:1200px;
    width:100%;
    margin:0 auto;
    background: #313133;
}

#main1 {
    width:100%;
}

.personal,
.professional {
    width:100%;
  
}



h2, h3 {
    padding-top: 20px;
}

h1, h2, h3{
    margin:0;
    text-align: center;
    text-decoration: underline;
    color:rgb(56, 134, 19);
    padding-bottom:15px;
}

p, li{
    color:rgb(56, 134, 19);
}

#box2 {
    border-right:solid .1em rgb(14,13,13);
    border-bottom:solid .1em rgb(14,13,13);
    border-left:solid .1em rgb(14,13,13);
}

#box1 {
    border:solid .1em rgb(14,13,13);
}

.link {
    color:whitesmoke;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    text-align: center;
    padding:5px;
    color:rgb(56, 134, 19);
}

table, th, td {
    border: 1px solid rgb(14,13,13);
}

th {
    background-color: #4c4d4f ;
    text-decoration:underline;
}

tbody tr:nth-child(even) {
    background-color: #464747;
}

footer {
    font-size: .8em;
}

#petpage img {
    width:70%;
    margin:0 15%;
}

#petpage a {
    display:flex;
    justify-content:center;
    font-size:1.2em;
    padding:5px;
    color:rgb(56, 134, 19);
    padding-bottom:10px;
}

#petpage {
    display:flex;
}

#theatreLink,
#slotLink {
    display:flex;
    justify-content:space-evenly;
    padding-bottom: 15px;
    text-shadow: 2px 2px 4px rgb(14,13,13);
}

#programming {
    display:flex;
    border-bottom: solid 2px rgb(14,13,13);
}

@media only screen and (max-width:300px) {
    
    th {
        display:none;
    }

    td:nth-child(even) {
        font-weight:bold;
    }

    .personal, 
    .professional,
    #main1,
    .poe {
        display:none;
    }

    tbody tr:nth-child(even) {
    background-color: #313133;
    }

    td:nth-child(odd) {
        background-color:rgb(56, 134, 19);
        color:whitesmoke;
        margin-bottom:10px;
    }

    td {
        display:block;
    }
    
    #mainNav li {
        border-bottom: .1em solid rgb(53, 52, 52);
        border-top: .1em solid rgb(53, 52, 52);
        border-right: .1em solid rgb(53, 52, 52);
    }

    #mainNav li:nth-child(1) {
        border-left: .1em solid rgb(53, 52, 52);
    }

}

@media only screen and (min-width: 768px) {

    table {
        width:80%;
        margin-left:10%;
        margin-right:10%;
        font-size:1.2em;
    }
    
    p {
        font-size:1.3em;
        padding:0px 40px;
    }

    li {
        font-size:1.2em;
    }

    #main1 {
        width:70%;
        margin:0 15%;
    }

    .personal, .professional {
        width:70%;
        margin:0 15%;
    }   
}

@media only screen and (min-width:1000px) {

    #sections {
        display:flex;
    }
    
    section { 
        flex:1 1;
    }

    #box1,
    #box2
     {
        border:solid .1em rgb(14,13,13);
        margin:5px;
        padding:5px;
    }
    
    #mainNav a:hover,
    #petpage a:hover {
        color:whitesmoke;
    }
}